.principal_section_app {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: relative;
    background-color: var(--background-color-gray);
    color: var(--font-color-white);
}

.principal_section_app .container{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}



.principal_section_app_switch_items_link{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color-blue);
    font-weight: bold;
}

.principal_section_app_int_information_textarea{
    width: 90%;
    background-color: transparent;
    background:  url(/assets/img/Muñeco.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem;
    border: 1px solid var(--font-color-blue); 
    border-radius: 1rem;

    
}


.principal_section_app_out_information_textarea{
    width: 90%;
    background-color: transparent;
    background:  url(/assets/img/Muñeco.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: .5rem;
    border: 1px solid var(--font-color-blue); 
    border-radius: 1rem;

}
.principal_section_app_button{
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 4rem;
    
}

.principal_section_app_button_items{
    background-color: var(--background-color-gray);
    color: var(--font-color-blue);
    padding: .5rem 1rem;
    margin: 0 .5rem;
    border: 1px solid var(--font-color-blue);
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.principal_section_app_button_items:hover{
    background: var(--background-color-blue);
    color: #ccc5cc;
    transition-duration: .5s;
}

@media screen and (min-width: 768px) {

    .principal_section_app .container{
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .principal_section_app_show_information{
        display: flex;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
 
}

@media screen and (max-width:767px) {
    .principal_section_app_int_information_textarea{
        height: 15rem;
        width: 15rem;
    }
    .principal_section_app_out_information_textarea{
        height: 15rem;
        width: 15rem;
    }
}

@media screen and (max-width:336px) {
    .principal_section_app_switch_list{
        display: flex;
        flex-direction: column;
    
    }
    .principal_section_app_switch_items{
        margin-bottom: .2rem;
    }
}

@media screen and (max-width:310px) {
    #copubtn{
        margin-top: .5rem;
    }
}