.principal_footer{
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: relative;
    background-color: var(--background-color-white);
    color: var(--font-color-blue);
    
}

.principal_footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    
}

.principal_footer_list{
    display: flex;
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
}

.principal_footer_items{
    margin: 0 .4rem;
  text-transform: uppercase;
  font-size: .8rem;
  

}

.principal_footer_links{
    text-decoration: none;
    color: var(--font-color-blue);
}

.principal_footer_span{
    margin-left: .5rem;
}