.principal_section_introduction{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: relative;
    background-color: var(--background-color-blue);
    color: var(--font-color-white);
}

.principal_section_introduction .container{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
}

.principal_section_introduction_left{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.principal_section_introduction_left_tittle{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.principal_section_introduction_left_paragraph{
    text-align: justify;
}

.principal_section_introduction_right{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.principal_section_introduction_img{
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {

    .principal_section_introduction{
        padding: 0;
    }
    .principal_section_introduction .container{
        flex-direction: row;
        width: 100%;
        background: url(/assets/img/font-firts-part.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        align-items: center;
        height: 90vh;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }

    .principal_section_introduction_left{
        width: 50%;
        padding: 0 5rem;
    }

    .principal_section_introduction_left_tittle{
        font-size: 3rem;
    }

    .principal_section_introduction_left_paragraph{
        font-size: 1.5rem;
    }

    .principal_section_introduction_right{
        flex-direction: column;
        width: 50%;
        font-size: 3rem;
       
    
    }

    .principal_section_introduction_img{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .principal_section_introduction .container {
        padding:6rem 0 ;
    }
    .principal_section_introduction_left{
        padding-bottom: 4rem;
    }
}
